langchain
langgraph
langchain-core
langchain-community
langchain-mistralai
langchain-huggingface

chromadb
sentence-transformers
huggingface-hub

pypdf

tavily-python

fastapi
uvicorn

pydantic

python-dotenv

typing-extensions